.LoginForm{
    width: 30vw;
    height: 40vh;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    place-items: center;
}

i{
    color: rgb(105, 105, 255);
    cursor: pointer;
    text-decoration: underline;
}