nav {
    max-width: 99%;
    mask-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        #ffffff 25%,
        #ffffff 75%,
        rgba(255, 255, 255, 0) 100%
    );
    margin: 0 auto;
    padding: 60px 0;
}

nav ul {
    text-align: center;
    display: flex;
    justify-content: center;
    background: rgb(130, 159, 217);
    background: linear-gradient(
        90deg,
        #5C73F2 15%,
        #3E38F2 50%,
        #5C73F2 85%
    );
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
    display: inline-block;
}

.item {
    padding: 1vh;
    -webkit-text-stroke: medium;
    text-transform: uppercase;
    color: rgb(49 49 49);
    font-size: 18px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(49 49 49);
}

.item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
        inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
}
